<html>
  <body>
  
    <div class= "container">
      <h1  class="mx-auto" style="width: 200px;">Gossip numero <%= @gossip.id %></h1> 
      <div class="card">
        <div class="card-body mx-auto">
        <h5 class="card-title"><%= @gossip.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"> Auteur : <%= link_to "#{@gossip.user.first_name}", profil_path(@gossip.user.id)%></h6>
        <p class="card-text"><%= @gossip.content %></p>
        <h6 class="card-subtitle mb-2 text-muted">Rédigé le : <%= @gossip.created_at%></h6>
        <h6 class="card-subtitle mb-2 text-muted">Depuis : <%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id)%></h6>
        <% if current_user == @gossip.user%>
          <%= link_to "Editer le potin", edit_gossip_path(@gossip.id), class: "btn btn-success"%>
          <a href= "<%#{gossip_path(@gossip.id)}%>" class= "btn btn-danger" data-confirm = "Sur ?" data-method= "delete">Supprimer</a>
        <% end %>
        </div>
      </div>
    </div>
    <div class ="container">
      <h2>Commentaires</h2>
        <% @gossip.comments.each do |comment|%>
          <div class= "card">
            <h5 class="card-title"><%= comment.content %></h5>
            <p class="card-text"><%= comment.user.first_name %></p>
            <p class="card-subtitle mb-2 text-muted">Publié le : <%= comment.created_at%></p>
            <% if current_user == comment.user %>
              <%= link_to "Editer le commentaire", edit_gossip_comment_path(@gossip.id, comment.id), class: "btn text-primary"%>
            <% end %>
          </div>
        <%end%>
    </div>

    <div class ="container">
    <h2>Ajouter un commentaire</h2>
    <%= form_tag gossip_comments_path(@gossip.id), method: "post" do %>
      <%= label_tag 'Content'%>
      <br/>
      <%= text_area_tag 'content' %>

      <br /> <br />
      <%= submit_tag "Create Comment" , class: "btn btn-primary"%>

<% end %>
    </div>

  </body>
</html>

