<html>
  <body>
  <div class = "container mx-auto">
    <div class="card mx-auto" style="width: 18rem;">
      <h1 class = "text-center">Profil</h1>
      <div class="card-body">
        <h5 class="card-title text-center"><%= @user.first_name %> <%= @user.last_name%></h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">Date d'inscription : <%= @user.created_at%></h6>
        <p class="card-text text-center">Age : <%= @user.age%> ans</p>
        <p class="card-text text-center">email : <%= @user.email%></p>
        <p class="card-text text-center">Ville : <%=link_to "#{@user.city.name}", city_path(@user.city.id)%></p>
      </div>
    </div>


      <h1 class = "text-center">Gossips publiés</h1>
      <% @user_gossips.each do |gossip| %>
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted text-center"><%= link_to "#{gossip.user.first_name}", profil_path(gossip.user.id)%></h6>
            <h5 class="card-title text-center"><%= link_to "#{gossip.title}", gossip_path(gossip.id) %>
          </div>
        </div>
      <%end %>
  </div>
  </body>
</html>


